@use "mixins" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: background-color .6s ease-in-out, box-shadow .6s ease-in-out, color .6s ease-in-out;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    

}

header {
    @include flexDisplay(row, center, space-between);
    width: 100%;
}


img {
    margin: 0 auto;
    display: block;
    width: 70%;
    object-fit: cover;
    max-width: 500px;

}

h1,
h2,
h4,
p,
figcaption {
    text-align: center;

}