@use "variables" as *;
@use "mixins" as *;
@use "animations" as *;

.hidden {
  display: none;
}

.active {
  display: block;
}

.toggle {
  @include button(0, 0, unset);

  &:focus {
    outline: none;
  }

  .moon {
    color: $darkMainBgColor;
  }

  .sun {
    color: $darkMainColor;
  }
}

.fadeOut {
  @include fade-out;
}

.position {
  position: absolute;
  z-index: 999;
}

.input {
  padding: $spacingSm;
  border-radius: $boderRadiusSm;
  border: none;
  flex: 1;
  margin-inline-end: $spacingSm;
  font-size: 16px;
  &:focus {
    outline: 2px solid rgba(59, 130, 246, 0.4);
  }
}

.form {
  // margin-top: $spacingLg;
  @include flexDisplay(row, center, space-between);
  // width: 100%;
}

#customBtn {
  @include flexDisplay;
  @include button($spacingMd, $bordeRadiusRound);
  position: fixed;
  right: 1rem;
  bottom: 5rem;
}

#addTaskBtn {
  @include button($spacingSm, $boderRadiusSm);
  padding-inline: $paddingInline;
  font-size: 16px;
}

#getStartedBtn {
  @include button(10px, $boderRadiusSm);
  margin-top: 1.5rem;
}

#cancelBtn {
  @include button(0, 0, unset);
}

.doneBtn {
  @include button(5px, 8px, $btnBgColor);
  font-size: 12px;
  padding-inline: 10px;
}
.editBtn,
.delBtn {
  background: none;
  color: azure;
  @include button(0px, 0, none);
}

#customBtn,
#addTaskBtn,
#getStartedBtn,
.cancelBtn,
.doneBtn {
  &:active {
    transform: scale(0.9);
    background-color: lighten($color: $btnBgColor, $amount: 6%);
  }
}

.fadeUp {
  opacity: 1;
  transform: translate(-50%, -50%);
  visibility: visible;
  user-select: auto;
  pointer-events: all;
}

// .slideFromTop {
//   animation: slideFromTop 1s ease-out forwards;
//   transition: all 0.5s ease-out;
// }
