@use "variables" as *;
@use "mixins" as *;

.hidden {
    display: none;
}

#getStartedBtn {
    @include button(10px, 7px);
    margin-top: 1.5rem;
}

.toggle {
    @include button(0, 0, unset);

    .moon {
        color: $primaryColor;

    }

    .sun {
        color: $darkMainColor;
    }
}

#customBtn {
    @include flexDisplay;
    @include button(11px, $bordeRadiusRound);
    position: absolute;
    right: 1rem;
    bottom: 3rem;

}

#addTaskBtn {
    @include button($spacingSm, $boderRadiusmMd);
    padding-inline: $paddingInline;
}