@use "mixins" as *;
@use "variables" as *;

#landingPage {
  position: absolute;
  z-index: 1;
  width: 100%;
  // overflow-x: hidden;
  // overflow-y: scroll;
 
  .logoCon {
    display: inline-flex;
    gap: 0.35rem;
    // background-color: rgb(114, 139, 139);
  }
  .hero {
    @include flexDisplay();

    #title {
      margin-top: 5rem;
      font-size: 2rem;
    }

    #subtitle {
      margin-top: 1rem;
    }

    figure {
      margin-top: $spacingLg;
    }
  }
}
