@use "mixins" as *;
.hero {
    @include flexDisplay();
    #title {
        margin-top: 5rem;
        font-size: 2rem;
    }
    #subtitle {
        margin-top: 1rem;
    }

   h1,h2,h4,p,figcaption {
        text-align: center;
        
    }
}