@use "variables" as *;
@use "animations" as *;

@mixin bodyTheme($bgColor, $color) {
  background-color: $bgColor;
  color: $color;
}

@mixin headerTheme($bgColor, $boxShadow, $border-radius: $borderBottomRadius) {
  background-color: $bgColor;
  box-shadow: $boxShadow;
  border-radius: $border-radius;
}

@mixin InputTheme($bgColor, $color) {
  background-color: $bgColor;
  color: $color;
}

@mixin flexDisplay($flexDir: column, $align: center, $justify: center, $padding: 1rem) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  padding: $padding;
  flex-direction: $flexDir;
  justify-content: $justify;
}

@mixin button($padding, $boderRadius, $bgColor: $btnBgColor) {
  background-color: $bgColor;
  border: none;
  color: $btnColor;
  padding: $padding;
  border-radius: $boderRadius;
  cursor: pointer;
}

@mixin fade-out() {
  animation: fade-out 0.5s ease-out;
}
