@use "variables" as *;

@mixin bodyTheme($bgColor, $color) {
    background-color: $bgColor;
    color: $color;
}

@mixin headerTheme($bgColor, $boxShadow,$border-radius : $borderBottomRadius) {
    background-color: $bgColor;
    box-shadow: $boxShadow;
    border-radius: $border-radius;
}

@mixin InputTheme($bgColor, $color) {
    flex: 1;
    background-color: $bgcolor;
    color: $color;
    padding: 10px;
    border-radius: 2rem;
}

@mixin flexDisplay($flexDir: column, $align: center, $justify: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    padding: 1rem;
    flex-direction: $flexDir;
    justify-content: $justify;
}

@mixin button($padding,$boderRadius,$bgColor:$btnBgColor) {
 background-color: $bgColor;
 border: none;
 color: $btnColor;
 padding: $padding;
 border-radius: $boderRadius;
 cursor: pointer;
}