@use "mixins" as *;
@use "variables" as *;

#landingPage {
  &.light {
    @include bodyTheme($primaryBgColor, $primaryColor);

    #landing-header {
      @include headerTheme($primaryHeadBgColor, $boxShadowLight);
    }
  }

  &.dark {
    @include bodyTheme($darkMainBgColor, $darkMainColor);

    #landing-header {
      @include headerTheme($darkMainHeadBgColor, $boxShadowDark);
    }
  }
}

#innerPage {
  &.light {
    @include bodyTheme($lightInnerBgColor, $lightInnerColor);

    .inner-header {
      @include headerTheme(inherit, $boxShadowLight);
    }

    input {
      @include InputTheme($lightInputBg, $lightInnerColor);
    }

    #nav {
      background-color: rgba(255, 255, 255, 0.17); //light
      border-top: 1px solid rgba(0, 0, 0, 0.05); //light

      button[data-btn] {
        @include button(0, 0, unset);
        color: #64748b; //light

        &.activeSec {
          color: $lightInnerColor; //light
        }
      }
    }

    li {
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.09); //light
      &:hover {
        background-color: rgba(0, 0, 0, 0.04); //light
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); //light
      }
      .listItem {
        &:focus {
          &.focus {
            outline: 1px solid $lightInnerColor;
            border-radius: 6px;
            outline-offset: 2px;
          }
        }
      }
    }

    #cancelBtn {
      color: $lightInnerColor;
    }

    .editBtn,
    .delBtn {
      color: $lightInnerColor;
    }
    .ghost {
      opacity: 0.95;
      background: linear-gradient(
        135deg,
        darken($color: $lightInnerBgColor, $amount: 8%) 0%,
        lighten($color: $lightInnerBgColor, $amount: 12%) 100%
      );
      backdrop-filter: blur(5px) saturate(140%);
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1),
        inset 0 0 0.5px rgba(255, 255, 255, 0.2);
      transition: all 0.2s ease;
      transform: scale(0.98);
      border-radius: 1rem;
      user-select: none;
      pointer-events: none;
    }
  }

  &.dark {
    @include bodyTheme($darkInnerBgColor, $darkInnerColor);

    .inner-header {
      @include headerTheme(inherit, $boxShadowDark);
    }

    input {
      @include InputTheme($darkInputBg, $darkInputColor);
    }

    #nav {
      background-color: rgba(15, 23, 42, 0.85); //dark
      border-top: 1px solid rgba(255, 255, 255, 0.05); //dark
      button[data-btn] {
        @include button(0, 0, unset);
        color: #94a3b8; //dark

        &.activeSec {
          color: $darkMainColor; //dark
        }
      }
    }

    li {
      box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.06); //dark
      &:hover {
        background-color: rgba(255, 255, 255, 0.025); //dark

        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.08); //dark
      }
      .listItem {
        &:focus {
          &.focus {
            outline: 1px solid $darkInnerColor;
            border-radius: 6px;
            outline-offset: 2px;
          }
        }
      }
    }

    #cancelBtn {
      color: $darkInnerColor;
    }
    .editBtn,
    .delBtn {
      color: $darkInnerColor;
    }
    .ghost {
      //dark
      opacity: 0.85;
      background: linear-gradient(
        135deg,
        lighten($color: $darkInnerBgColor, $amount: 10%) 0%,
        lighten($color: $darkInnerBgColor, $amount: 18%) 100%
      );
      border-radius: 1rem;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35),
        inset 0 0 0.5px rgba(255, 255, 255, 0.1);
      user-select: none;
      pointer-events: none;
      backdrop-filter: blur(6px) saturate(160%);
      transition: all 0.25s ease;
      transform: scale(0.975);
    }
  }
}
