$primaryColor : #0b3d91;
$primaryBgColor : #bfdbfe;
$primaryHeadBgColor : #90e0ef;

$darkMainColor : #eceff1;
$darkMainBgColor : #1e293b;
$darkMainHeadBgColor : #334155;

$darkInnerColor: #e2e8f0;
$darkInnerBgColor : #1e293b;

$lightInnerColor: #0f172a;
$lightInnerBgColor :#bfdbfe;
$lightInnerHeadBgColor : #dbeafe;

$padding-inline : 1rem;

$border-bottom-radius : 0 0 8px 8px;
$border-radius-round : 50%;
$boder-rd-md: 2rem;
$margin-top : 2rem;
$box-shadow-main: 0 4px 8px rgb(0, 0, 0, 0.36);
$box-shadow-main2: 0 4px 8px rgb(0, 0, 0, 0.14);