$primaryColor : #0b3d91;
$primaryBgColor : #bfdbfe;
$primaryHeadBgColor : #90e0ef;

$darkMainColor : #eceff1;
$darkMainBgColor : #1e293b;
$darkMainHeadBgColor : #334155;

$btnBgColor : #3b82f6;
$btnColor: #fff;

$darkInnerColor: #e2e8f0;
$darkInnerBgColor :#0f172a;


$lightInnerColor: #0f172a;
$lightInnerBgColor :#d0e7ff;
$lightInnerHeadBgColor : #b3d1ff;

$paddingInline : 1.3rem;
$spacingSm :10px;
$spacingLg: 2rem;


$borderBottomRadius :0 0 1rem 1rem;
$bordeRadiusRound : 50%;
$boderRadiusmMd: 2rem;
$margiTop : 2rem;
$boxShadowDark: 0 4px 8px rgb(0, 0, 0, 0.36);
$boxShadowLight: 0 4px 8px rgb(0, 0, 0, 0.1);

$lightInputBg :#fff;
$darkInputBg: #1e293b;
$darkInputColor: #f8fafc;
$lightInputColor: #0f172a;